.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: opacity .15s;
}

.footer__column-link:hover {
  opacity: .7;
}

.footer__column-link:has(.footer__social-icon) {
  color:  #f2f2f2;
}